@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: 'Gilroy';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #113676;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #113676;
    background-color: transparent;
    padding: 0px !important;
    margin: 0px !important;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: auto;
  min-height: 100vh;
}

form {
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
}

label:focus-visible {
  border: 2px solid #e74764;
}

span {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0px 0px 0px;
}

button {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 15px;
  background-color: #e74764;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #faf3ed;
  color: #e74764;
}

button:disabled {
  background-color: #041129;
  color: #faf3ed;
  cursor: default;
}

input {
  border: none;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 16px;
  transition: border-color 0.25s;
}

h1 {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 20;
}

input:focus {
  border: 2px solid #e74764;
  outline: none;
}

pre {
  font-family: 'Gilroy';
  font-weight: 500;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

small {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 12px;
  opacity: 0.75;
  padding: 7.5px 0px 0px 0px;
}

textArea {
  border-style: none;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  color: #faf3ed;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
}

select {
  border-style: none;
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 10px;
  border-radius: 5px;
  color: #faf3ed;
  background-color: rgba(255, 255, 255, 0.35);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

img.logo {
  margin: 0px !important;
  padding: 0px !important;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  min-width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.35);
}

.dataForm {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.fileInput {
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-family: 'Gilroy';
  font-weight: 600;
  color: #faf3ed;
  padding: 15px 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.35);
}

.finished {
  color: #6cf05d !important;
}

.notFinished {
  color: #e74764 !important;
}

.inputButton {
  display: flex;
  align-items: center;
  color: #e74764 !important;
  cursor: pointer;
  background-color: white;
}

.fineTuneContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.textLanguage {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 50%;
}

.textTone {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 50%;
}

.x {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: end;
  justify-content: space-between; /* Spreads items apart */
}

.analyzeLevel {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.costPerConversion {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

input[type='file']::-webkit-file-upload-button {
  display: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}
